@model ExpenseTracker.Models.User

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h4>Forgot Password</h4>
        <hr />
        <form asp-action="ForgotPassword" method="post" class="container mt-4 p-4 border rounded bg-light">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email Address</label>
                <input type="email" class="form-control" asp-for="Email" placeholder="Enter your email" required />
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary w-100">Send OTP</button>
            </div>
        </form>
    </div>
</div>
