@model ExpenseTracker.Models.RegisterViewModel

<div class="col-4 offset-4">
    <h4 class="text-center text-dark py-2">Register</h4>
    <hr />
    <form asp-action="Register" method="post" class="container mt-4 p-4 border rounded bg-light">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control"  />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control"  />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control"  />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </div>
        <p class="text-center mt-2">
            Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
        </p>
    </form>
</div>
