@model ExpenseTracker.Models.ResetPasswordModel

<div class="row">
    <div class="col-4 offset-4 text-center pt-3">
        <h3 class="text-center">Reset Password</h3>

        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Token" type="hidden" />

            <div class="form-group mb-3">
                <label asp-for="NewPassword" class="text-start"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="text-start"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>