@model ExpenseTracker.Models.Category

@{
    ViewData["Title"] = "Create Category";

}
@* card bg-light *@
<div class="row">
    <div class="col-md-6 col-lg-6 offset-lg-3  pb-5 px-5 ">
        <a asp-action="Index" class="text-start text-black text-decoration-none"><i class="fa-solid fa-arrow-left fa-lg"></i></a>
        <h2 class="text-center text-dark py-2">Create Category</h2>
        <hr />

        <form asp-action="Create" class="text-start" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Radio Buttons for Type -->
                @* <div class="form-group mb-3"> *@
                @*     <label class="form-label">Type</label><br /> *@
                @*     <div class="btn-group type-btn" role="group" aria-label="Basic mixed styles example"> *@
                @*         <button type="button" name="Type" value="Income" class="btn btn-primary t-btn">Income</button> *@
                @*         <button type="button" name="Type" value="Expense" class="btn btn-warning t-btn">Expense</button> *@
                @*     </div> *@
                @*     <span asp-validation-for="Type" class="text-danger"></span> *@
                @* </div> *@

            <div class="form-group mb-3 text-dark">
                    <label class="form-label">Type</label><br />
                    <div class="btn-group custom-width" role="group" aria-label="Basic radio toggle button group w-100">
                        <input type="radio" class="btn-check" name="Type" id="TypeExpense" value="Expense" autocomplete="off" checked>
                        <label class="btn btn-outline-dark" for="TypeExpense">Expense</label>

                        <input type="radio" class="btn-check" name="Type" id="TypeIncome" value="Income" autocomplete="off">
                        <label class="btn btn-outline-dark" for="TypeIncome">Income</label>
                    </div>
                </div>

                <!-- Title Input -->
            <div class="form-group mb-3 text-dark">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="Title" class="form-control" placeholder="Enter Title" value="@Model.Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <!-- Icon Input -->
            <div class="form-group mb-3 text-dark">
                    <label for="icon" class="form-label">Icon</label>
                    <input type="text" id="icon" name="Icon" class="form-control" placeholder="Enter Icon" value="@Model.Icon" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                 <div class="text-danger"> 
                     @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))  {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
                <!-- Submit Button -->
            <div class="form-group mb-3 d-flex justify-content-center">
                <input type="submit" value="Create" class="btn btn-primary px-4 rounded" />
            </div>
            </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

