@model ExpenseTracker.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-6 col-lg-6 offset-lg-3 pb-5 px-5 ">

        <div class="row">
            <div class="col-md-1 pt-4">
                <a asp-action="Index" class="text-start text-black text-decoration-none"><i class="fa-solid fa-arrow-left fa-lg"></i></a>
            </div>
            <div class="col-md-11 py-2">
                <h2 class="text-center text-dark py-2">Update Category</h2>
            </div>
        </div>

        <form asp-action="Edit" class="text-start">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Hidden field for CategoryId -->
            <input type="hidden" asp-for="CategoryId" />

            <div class="form-group mb-3 text-dark">
                <label class="form-label">Type</label><br />
                <div class="btn-group custom-width" role="group" aria-label="Basic radio toggle button group w-100">
                    <input type="radio" class="btn-check" name="Type" id="TypeExpense" value="Expense" autocomplete="off"
                    @(Model.Type == "Expense" ? "checked" : "")>
                    <label class="btn btn-outline-dark" for="TypeExpense">Expense</label>

                    <input type="radio" class="btn-check" name="Type" id="TypeIncome" value="Income" autocomplete="off"
                    @(Model.Type == "Income" ? "checked" : "")>
                    <label class="btn btn-outline-dark" for="TypeIncome">Income</label>
                </div>
            </div>

            <!-- Title Input -->
            <div class="form-group mb-3 text-dark">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <!-- Icon Input -->
            <div class="form-group mb-3 text-dark">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <div class="form-group mb-3 d-flex justify-content-center">
                <input type="submit" value="Update" class="btn btn-primary px-4 rounded" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
