@model ExpenseTracker.Models.Transaction
@{
    ViewData["Title"] = "Create Transaction";
}

<div class="row">
    <div class="col-md-6 col-lg-6 offset-lg-3 pb-5 px-5">
        <div class="row">
            <div class="col-md-1 pt-4">
                <a asp-action="Index" class="text-start text-black text-decoration-none"><i class="fa-solid fa-arrow-left fa-lg"></i></a>
            </div>
            <div class="col-md-11 py-2">
                <h2 class="text-center text-dark py-2">Create Transaction</h2>
            </div>
        </div>

        <form asp-action="Create" enctype="multipart/form-data" class="text-start">
            <div class="form-group mb-3 text-dark">
                <label asp-for="CategoryId" class="form-label">Select Category</label>
                <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 text-dark">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group mb-3 text-dark">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group mb-3 text-dark">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group mb-3 text-dark">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>

            <div class="form-group mb-3 text-dark">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

            @* <div class="form-group mb-3"> *@
            @*     <label asp-for="CategoryId" class="control-label"></label> *@
            @*     <select asp-for="CategoryId" name="CategoryId" class="form-control" asp-items="ViewBag.Categories"> *@
            @*         <option value="">Select Category</option> *@
            @*     </select> *@
            @*     @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" }) *@
            @*     <span asp-validation-for="CategoryId" class="text-danger"></span> *@
            @* </div> *@

            
            
            @* <div class="text-danger"> *@
            @*     @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors)) *@
            @*     { *@
            @*         <p>@error.ErrorMessage</p> *@
            @*     } *@
            @* </div> *@
            <div class="form-group mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary px-4 rounded">Create</button>
             </div>
        </form>
    </div>
</div>