@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    @* @if (!string.IsNullOrEmpty(ViewBag.Username)) *@
    @* { *@
    @*     <p>Hello, @ViewBag.Username! Welcome back!</p> *@
    @* } *@
    @* else *@
    @* { *@
    @*     <p>No username found in session.</p> *@
    @* } *@
  
</div>
